.overly{
    filter: brightness(30%);
}

@media only screen and (max-width: 767px) {
  .row img{
    width: 100%;
    }
    
    .btn-hid{
        display: none;
    }
    .icone{
        margin-left: 100px;
    }
} 

@media only screen and (max-width:1024px) {
    .icone{
        margin-left: 300px;
    }
  } 